{% extends 'base.html' %}

{% block title %}Statystyki odpowiedzi{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statystyki odpowiedzi</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
    /* Styl dla wykresów */
    canvas {
        width: 90vw; /* Szerokość na 90% szerokości widoku */
        max-width: 600px; /* Maksymalna szerokość */
        margin: 0 auto; /* Wycentrowanie */
        display: block; /* Zapobiega domyślnej przestrzeni nad i pod canvas */
    }
    </style>

</head>
<body>
    <div class="response-stats">
        <center><h2>Statystyki odpowiedzi</h2></center>
        <canvas id="wynikChart"></canvas>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <canvas id="wiekChart"></canvas>
        <canvas id="poczucieSmutkuChart"></canvas>
        <canvas id="nerwoweZachowanieChart"></canvas>
        <canvas id="problemyZeSpaniemChart"></canvas>
        <canvas id="problemyZKoncentracjaChart"></canvas>
        <canvas id="przejadanieSieChart"></canvas>
        <canvas id="poczucieWinyChart"></canvas>
        <canvas id="problemZPrzywiazaniemChart"></canvas>
        <canvas id="probaSamobojczaChart"></canvas>

    </div>

    <script>
        // Funkcja do tworzenia wykresu
    function createChart(ctx, labels, data, title) {
    const colors = ['#ffcccb', '#add8e6', '#90ee90']; // Kolory dla odpowiedzi
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: '',
                data: data,
                backgroundColor: colors,
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    suggestedMax: 50 // Maksymalna wartość na osi Y
                }
            }
        }
    });

    // Dodanie tytułu nad wykresem jako nagłówek HTML
    const chartTitle = document.createElement('h3');
    chartTitle.textContent = title;
    chartTitle.style.textAlign = 'center';
    chartTitle.style.color = 'white'; // Biały kolor tekstu
    chartTitle.style.fontSize = '24px'; // Zmiana wielkości tekstu
    ctx.canvas.parentNode.insertBefore(chartTitle, ctx.canvas);
}



        // Dane dla wykresów (przekazane z widoku)
        const wiekLabels = {{ wiek_labels|safe }};
        const wiekData = {{ wiek_data|safe }};
        const poczucieSmutkuLabels = {{ poczucie_smutku_labels|safe }};
        const poczucieSmutkuData = {{ poczucie_smutku_data|safe }};
        const nerwoweZachowanieLabels = {{ nerwowe_zachowanie_labels|safe }};
        const nerwoweZachowanieData = {{ nerwowe_zachowanie_data|safe }};
        const problemyZeSpaniemLabels = {{ problemy_ze_spaniem_labels|safe }};
        const problemyZeSpaniemData = {{ problemy_ze_spaniem_data|safe }};
        const problemyZKoncentracjaLabels = {{ problemy_z_koncentracja_labels|safe }};
        const problemyZKoncentracjaData = {{ problemy_z_koncentracja_data|safe }};
        const przejadanieSieLabels = {{ przejadanie_sie_labels|safe }};
        const przejadanieSieData = {{ przejadanie_sie_data|safe }};
        const poczucieWinyLabels = {{ poczucie_winy_labels|safe }};
        const poczucieWinyData = {{ poczucie_winy_data|safe }};
        const problemZPrzywiazaniemLabels = {{ problem_z_przywiazaniem_labels|safe }};
        const problemZPrzywiazaniemData = {{ problem_z_przywiazaniem_data|safe }};
        const probaSamobojczaLabels = {{ proba_samobojcza_labels|safe }};
        const probaSamobojczaData = {{ proba_samobojcza_data|safe }};
        const wynikLabels = {{ wynik_labels|safe }};
        const wynikData = {{ wynik_data|safe }};

      function translateLabels(chartType, labels) {
    const translations = {
        'wiekChart': {
            1: '25-30',
            2: '30-35',
            3: '35-40',
            4: '40-45',
            5: '45-50'
        },
        'poczucieSmutkuChart': {
            0: 'Nie',
            1: 'Czasami',
            2: 'Tak'
        },
        'nerwoweZachowanieChart': {
            0: 'Nie',
            1: 'Czasami',
            2: 'Tak'
        },
        'problemyZeSpaniemChart': {
            0: 'Nie',
            1: 'Czasami',
            2: 'Tak'
        },
        'problemyZKoncentracjaChart': {
            0: 'Nie',
            1: 'Czasami',
            2: 'Tak'
        },
        'przejadanieSieChart': {
            0: 'Nie',
            1: 'Czasami',
            2: 'Tak'
        },
        'poczucieWinyChart': {
            0: 'Nie',
            1: 'Czasami',
            2: 'Tak'
        },
        'problemZPrzywiazaniemChart': {
            0: 'Nie',
            1: 'Czasami',
            2: 'Tak'
        },
        'probaSamobojczaChart': {
            0: 'Nie',
            1: 'Tak',
            2: 'Nie chce mowić'
        },
        'wynikChart': {
            0: 'Nie',
            1: 'Tak'

        },
    };

    return labels.map(label => translations[chartType][label]);
}



       createChart(document.getElementById('wiekChart').getContext('2d'), translateLabels('wiekChart', wiekLabels), wiekData, 'Wiek');
    createChart(document.getElementById('poczucieSmutkuChart').getContext('2d'), translateLabels('poczucieSmutkuChart', poczucieSmutkuLabels), poczucieSmutkuData, 'Poczucie Smutku');
    createChart(document.getElementById('nerwoweZachowanieChart').getContext('2d'), translateLabels('nerwoweZachowanieChart', nerwoweZachowanieLabels), nerwoweZachowanieData, 'Nerwowe Zachowanie');
    createChart(document.getElementById('problemyZeSpaniemChart').getContext('2d'), translateLabels('problemyZeSpaniemChart', problemyZeSpaniemLabels), problemyZeSpaniemData, 'Problemy ze Spaniem');
    createChart(document.getElementById('problemyZKoncentracjaChart').getContext('2d'), translateLabels('problemyZKoncentracjaChart', problemyZKoncentracjaLabels), problemyZKoncentracjaData, 'Problemy z Koncentracją');
    createChart(document.getElementById('przejadanieSieChart').getContext('2d'), translateLabels('przejadanieSieChart', przejadanieSieLabels), przejadanieSieData, 'Przejadanie Się');
    createChart(document.getElementById('poczucieWinyChart').getContext('2d'), translateLabels('poczucieWinyChart', poczucieWinyLabels), poczucieWinyData, 'Poczucie Winy');
    createChart(document.getElementById('problemZPrzywiazaniemChart').getContext('2d'), translateLabels('problemZPrzywiazaniemChart', problemZPrzywiazaniemLabels), problemZPrzywiazaniemData, 'Problem z Przywiązaniem');
    createChart(document.getElementById('probaSamobojczaChart').getContext('2d'), translateLabels('probaSamobojczaChart', probaSamobojczaLabels), probaSamobojczaData, 'Próba Samobójcza');
    // Tworzenie wykresu wyniku
    createChart(document.getElementById('wynikChart').getContext('2d'), translateLabels('wynikChart', wynikLabels), wynikData, 'Wynik');

    </script>
</body>
</html>

{% endblock %}
