{% extends 'base.html' %}

{% block title %}Strona główna{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statystyki odpowiedzi</title>
    <style>
        .main-result {
            border: 2px solid #333;
            padding: 10px;
            margin-bottom: 20px;
        }
        .response-stats {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="main-result">
        <h1>Wyniki</h1>
        <ul>
            {% for item in wynik_stats %}
        <li>Wynik: {% if item.wynik == 0 %} Brak ryzyka depresji poporodowej {% elif item.wynik == 1 %} Ryzyko depresji poporodowej  {% endif %} : {{ item.percent }}%</li>
        {% endfor %}
        </ul>
    </div>

    <div class="response-stats">
        <h2>Statystyki odpowiedzi</h2>

        <h3>Wiek</h3>
        <ul>
            {% for item in wiek_stats %}
            <li>Wiek: {% if item.wiek == 0 %} Mniej niż 18 lat {% elif item.wiek == 1 %} 18-30 lat {% elif item.wiek == 2 %} 31-40 lat {% elif item.wiek == 3 %} 41-50 lat {% elif item.wiek == 4 %} 51-60 lat {% else %} Powyżej 60 lat {% endif %} : {{ item.percent }}%</li>
            {% endfor %}
        </ul>
    </div>

    <div class="response-stats">
        <h3>Poczucie smutku</h3>
        <ul>
            {% for item in poczucie_smutku_stats %}
            <li>{% if item.poczucie_smutku == 0 %} Nie {% elif item.poczucie_smutku == 1 %} Czasami {% else %} Tak {% endif %} : {{ item.percent }}%</li>
            {% endfor %}
        </ul>
    </div>

    <div class="response-stats">
        <h3>Nerwowe zachowanie w stosunku do partnera lub dziecka</h3>
        <ul>
            {% for item in nerwowe_zachowanie_stats %}
            <li> {% if item.nerwowe_zachowanie == 0 %} Nie {% elif item.nerwowe_zachowanie == 1 %} Czasami {% else %} Tak {% endif %} : {{ item.percent }}%</li>
            {% endfor %}
        </ul>
    </div>

    <div class="response-stats">
        <h3>Problemy ze spaniem</h3>
        <ul>
            {% for item in problemy_ze_spaniem_stats %}
            <li>{% if item.problemy_ze_spaniem == 0 %} Nie {% elif item.problemy_ze_spaniem == 1 %} Czasami {% else %} Tak {% endif %} : {{ item.percent }}%</li>
            {% endfor %}
        </ul>
    </div>

    <div class="response-stats">
        <h3>Problemy z koncentracją</h3>
        <ul>
            {% for item in problemy_z_koncentracja_stats %}
            <li>{% if item.problemy_z_koncentracja == 0 %} Nie {% elif item.problemy_z_koncentracja == 1 %} Czasami {% else %} Tak {% endif %} : {{ item.percent }}%</li>
            {% endfor %}
        </ul>
    </div>

    <div class="response-stats">
        <h3>Przejadanie się lub niedojadanie</h3>
        <ul>
            {% for item in przejadanie_sie_stats %}
            <li>{% if item.przejadanie_sie == 0 %} Nie {% elif item.przejadanie_sie == 1 %} Czasami {% else %} Tak {% endif %} : {{ item.percent }}%</li>
            {% endfor %}
        </ul>
    </div>

    <div class="response-stats">
        <h3>Poczucie winy</h3>
        <ul>
            {% for item in poczucie_winy_stats %}
            <li>{% if item.poczucie_winy == 0 %} Nie {% elif item.poczucie_winy == 1 %} Czasami {% else %} Tak {% endif %} : {{ item.percent }}%</li>
            {% endfor %}
        </ul>
    </div>

    <div class="response-stats">
        <h3>Problem z przywiązaniem do dziecka</h3>
        <ul>
            {% for item in problem_z_przywiazaniem_stats %}
            <li>{% if item.problem_z_przywiazaniem == 0 %} Nie {% elif item.problem_z_przywiazaniem == 1 %} Czasami {% else %} Tak {% endif %} : {{ item.percent }}%</li>
            {% endfor %}
        </ul>
    </div>

    <div class="response-stats">
        <h3>Próba samobójcza</h3>
        <ul>
            {% for item in proba_samobojcza_stats %}
            <li>{% if item.proba_samobojcza == 0 %} Nie {% elif item.proba_samobojcza == 1 %} Czasami {% else %} Tak {% endif %} : {{ item.percent }}%</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
{% endblock %}